@use 'fonts';
@use 'var' as *;
@use 'normilize';

body {
  min-width: 320px;
  // font-family: $font;
  font-weight: 400;
  // background-color: $body-back;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

p,
h1,
h2,
h3,
figure,
figcaption {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100vw;
}

.container {  
  width: 96%;  
  margin: 0 auto;  
  max-width: 346px;  
  padding: 0 16px;  
  
  @media (min-width: $breakpoints-m) {  
    max-width: 696px;  
    padding: 0 36px;  
  }  
  @media (min-width: $breakpoints-l) {  
    max-width: 936px;  
    padding: 0 36px;  
  }  
  @media (min-width: $breakpoints-xl) {  
    max-width: 1216px;  
    padding: 0 112px;  
  }  
  @media (min-width: $breakpoints-xxl) {  
    max-width: 1680px;  
    padding: 0 120px;  
  }  
}